// @import '../utils/responsive';

.container {
    max-width: 1440px;
    padding: 0 135px;
    margin-left: auto;
    margin-right: auto;

    h2 {
        font-family: 'TTHoves 300', sans-serif;
        font-weight: normal;
        font-size: 64px;
        line-height: 100%;
        color: var(--other-text-color);

        @include sm {
            font-size: 48px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }
    @include xxl {
        max-width: $xl;
        padding: 0 32px;
    }
    @include xl {
        max-width: $lg;
    }
    @include lg {
        max-width: $md;
        padding: 0 20px;
    }
}
