.about {
    margin-top: 120px;

    .wrapper {
        display: flex;
        flex-direction: row;
        height: 435px;
        gap: 30px;

        padding: 30px 70px 30px 100px;
        background: #fbfbfb;

        @include xxl {
            max-width: $xl;
            padding: 20px;
        }

        @include xl {
            max-width: $lg;
        }
    }

    &__images {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        flex-grow: 1;

        .about-1 {
            width: 270px;
            height: 265px;

            @include xl {
                width: 216px;
                height: 212px;
            }
        }
        .about-2 {
            width: 270px;
            height: 345px;
            @include xl {
                width: 216px;
                height: 276px;
            }
        }
        .about-3 {
            position: relative;
            transform: translateY(-80px);
            width: 270px;
            height: 140px;

            @include xl {
                width: 216px;
                height: 112px;
            }
        }
    }

    &__descriptions {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-family: 'TTHoves 300', sans-serif;

        p {
            font-size: 16px;
            line-height: 125%;
            color: #000;
            width: 400px;
        }
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 221px;
            height: 71px;
            gap: 12px;
            background: var(--bg-color);
            color: var(--primary-color);
            transition: all 300ms ease-in-out;

            &:active {
                scale: 0.9;
            }

            &:hover,
            :focus {
                background-color: var(--button-accent-color);
                color: var(--bg-color);

                svg {
                    stroke: var(--bg-color);
                    scale: 2;
                    transform: translateX(5px);
                }
            }
            svg {
                transition: all 300ms ease-in-out;
                stroke: var(--primary-color);
            }
        }
    }
}
