.footer {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    color: var(--bg-color);
    background: var(--footer-bg-color);

    @include sm {
        margin-top: 100px;
    }

    h3 {
        font-family: 'TTHoves 700', sans-serif;
        font-weight: normal;
        font-size: 16px;
        margin-bottom: 25px;

        @include md {
            margin-bottom: 15px;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 193px;
        font-family: 'TTHoves 500', sans-serif;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;

        @include md {
            width: 100%;
            height: 100%;
            justify-content: center;
            flex-direction: row;
            gap: 20px;
        }
    }

    &--wrapper {
        display: flex;
        flex-direction: row;
        margin: 58px 0;

        @include md {
            flex-direction: column;
            align-items: center;
            margin: 30px 0;
            gap: 30px;
        }
    }

    &__logo {
        width: 245px;

        @include xl {
            flex: 1;
        }
        @include md {
            width: 145px;
        }

        @include sm {
            display: none;
        }
    }

    &__info,
    &__contact {
        &--list {
            a {
                display: flex;
                transition: all 300ms ease-in-out;
                &:hover,
                :focus {
                    color: var(--button-accent-color);
                }
            }
        }
        @include md {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__info {
        width: 245px;

        @include xl {
            flex: 1;
        }
    }

    &__contact {
        width: 300px;

        @include xl {
            flex: 1.3;
        }

        &--list {
            li {
                a {
                    flex-direction: row;
                    gap: 15px;
                    &:hover,
                    :focus {
                        svg {
                            scale: 1.5;
                        }
                    }
                }

                svg {
                    width: 22px;
                    transition: all 300ms ease-in-out;
                }
            }
        }
    }

    &__social {
        margin-left: 120px;

        @include xl {
            flex: 0.9;
            margin-left: 30px;
        }

        @include md {
            margin-left: 0;
        }

        ul {
            flex-direction: row;
            width: 193px;

            @include xl {
                width: 100%;
                justify-content: flex-start;
                gap: 20px;
            }

            li {
                height: min-content;
            }
            a {
                width: 22px;
                height: 22px;
                transition: all 300ms ease-in-out;

                &:hover,
                :focus {
                    svg {
                        stroke: var(--button-accent-color);
                        scale: 1.5;
                    }
                }

                svg {
                    width: 100%;
                    transition: all 300ms ease-in-out;
                }
            }
        }
    }

    &__copyright {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 24px 0;
        line-height: 183%;
        color: rgba(200, 200, 200, 0.5);

        &::before {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: -150;
            width: 1440px;
            height: 1px;
            background-color: var(--bg-color);
            opacity: 0.1;

            @include xxl {
                max-width: $xxl;
            }
            @include xl {
                max-width: $xl;
            }
            @include md {
                max-width: $lg;
            }
            @include md {
                max-width: $md;
            }
            @include sm {
                max-width: $sm;
            }
        }
    }
}
