.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 102px;

    .header__logo {
        &--wrapper {
            width: 70px;
            height: 43px;
            color: var(--primary-color);
        }
    }

    .header__nav {
        display: flex;
        align-items: center;
        margin-left: 330px;

        @include xl {
            margin-left: auto;
        }

        &--list {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 60px;
            font-family: 'TTHoves 400', sans-serif;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0.2em;
            text-transform: uppercase;

            @include xl {
                gap: 38px;
            }

            a {
                transition: all 300ms ease-in-out;
                &:hover,
                :focus {
                    color: var(--button-accent-color);
                }
            }

            .js-header-nav-active {
                position: relative;
                color: var(--button-accent-color);
                &::before {
                    display: block;
                    content: '';
                    position: absolute;
                    top: -5px;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: var(--primary-color);
                }

                &::after {
                    display: block;
                    content: '';
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: var(--primary-color);
                }
            }
        }
    }
}
