.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 102px;

    .header__logo {
        &--wrapper {
            width: 70px;
            height: 43px;
            color: var(--primary-color);
        }
    }

    .header__nav {
        display: flex;
        align-items: center;
        margin-left: 330px;

        .burger--btn {
            display: none;
            @include md {
                display: flex;
            }
        }
        @include xl {
            margin-left: auto;
        }
        @include md {
            position: relative;

            .burger--btn.hidden,
            .header__nav--list.hidden {
                display: none;
            }
        }

        &--list {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 60px;
            font-family: 'TTHoves 400', sans-serif;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0.2em;
            text-transform: uppercase;

            @include xl {
                gap: 38px;
            }
            @include lg {
                gap: 20px;
            }
            @include md {
                position: absolute;
                top: 50px;
                right: 0;
                flex-direction: column;
                z-index: 10;
                background: var(--bg-color);
                padding: 20px;
            }

            a {
                transition: var(--all);
                &:hover {
                    color: var(--button-accent-color);
                }
            }

            .js-header-nav-active {
                position: relative;
                &::before {
                    display: block;
                    content: '';
                    position: absolute;
                    top: -5px;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: var(--primary-color);
                }

                &::after {
                    display: block;
                    content: '';
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: var(--primary-color);
                }
            }
        }
    }
}
