.projects {
    display: flex;
    flex-direction: column;
    margin-top: 120px;

    &__slider {
        @include lg {
            position: relative;
            width: 570px;
            height: 255px;
            overflow: hidden;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .navigation {
        @include xl {
            display: none;
        }

        @include lg {
            position: absolute;
            bottom: 16px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            gap: 6px;
        }
        .bar {
            width: 30px;
            height: 8px;
            cursor: pointer;
            background-color: var(--bg-color);
            opacity: 0.7;
            border-radius: 10px;
            transition: all 300ms ease-in-out;

            &:hover {
                opacity: 1;
                transform: scale(1.1);
            }
        }
    }
    h2 {
        @include xxl {
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 30px;
        }
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 221px;
        height: 71px;
        margin-top: 30px;
        margin-left: auto;
        gap: 12px;
        background: var(--primary-color);
        color: var(--bg-color);

        line-height: 100%;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        transition: all 300ms ease-in-out;

        &:active {
            scale: 0.9;
        }

        &:hover,
        :focus {
            background-color: var(--button-accent-color);

            svg {
                scale: 2;
                transform: translateX(5px);
            }
        }
        svg {
            stroke: var(--bg-color);
            transition: all 300ms ease-in-out;
        }

        @include xxl {
            margin-right: auto;
        }
    }

    &__images {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 60px;
        gap: 30px;

        @include xxl {
            flex-wrap: wrap-reverse;
            justify-content: center;
        }
        @include lg {
            width: calc(570px + 570px + 270px + 370px + 470px);
            height: 255px;
            flex-wrap: nowrap;
            margin-top: 0;
            gap: 0;
        }

        input[name='r'] {
            position: absolute;
            visibility: hidden;
        }
        &--wrapper {
            @include lg {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 570px;
                transition: all 600ms ease-in-out;
                object-fit: cover;

                img {
                    max-width: none;
                    width: auto;
                }
            }

            // .project-1 {
            //     width: 570px;
            // }
            // .project-2 {
            //     width: 570px;
            // }
            // .project-3 {
            //     width: 270px;
            // }
            // .project-4 {
            //     width: 470px;
            // }
            // .project-5 {
            //     width: 370px;
            // }
        }
    }
}

#r1:checked ~ .s1 {
    margin-left: 0;
}
#r2:checked ~ .s1 {
    margin-left: -570px;
}
#r3:checked ~ .s1 {
    margin-left: -1685px;
}
#r4:checked ~ .s1 {
    margin-left: -2830px;
}
#r5:checked ~ .s1 {
    margin-left: -3970px;
}
