.scroll-up {
    position: fixed;
    bottom: 30px;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    box-shadow: 0px 0px 0px 1px var(--scroll-color);
    border-radius: 50%;

    z-index: 7;
    opacity: 1;
    transition: background-color 500ms ease-in-out, opacity 500ms ease-in-out;

    .up-icon {
        fill: var(--button-accent-color);
        stroke: var(--scroll-color);
        transition: fill 500ms ease-in-out;
    }

    &:hover {
        background-color: var(--button-accent-color);
        .up-icon {
            fill: var(--scroll-color);
        }
    }
}

.is-hidden {
    opacity: 0;
    cursor: auto;
}
